/* change author info page*/
/* change author info page*/
/* change author info page*/
select[name="authorNameSelector"]::-webkit-scrollbar {
    width: 0.25vw;
}

select[name="authorNameSelector"]::-webkit-scrollbar-track {
    background-color: rgba(90, 88, 88, 0.8);
    border-radius: 5px;
}

select[name="authorNameSelector"]::-webkit-scrollbar-thumb {
    background-color: rgba(26, 26, 26, 0.596);
    border-radius: 5px;
}

select[name="authorNameSelector"]::-webkit-scrollbar-thumb:hover {
    background-color: rgba(10, 9, 9, 0.637);
}

select[name="authorNameSelector"] option:checked {
    color: #c0b7b7;
    text-shadow: 0 0 1em rgb(104, 99, 99);
    background-color: rgba(15, 15, 15, 0.541);
    box-shadow: inset 0 0 0.7em rgb(104, 99, 99), 0 0 0.7em rgb(104, 99, 99);
}

select[name="authorNameSelector"] option:hover {
    color: rgba(255, 100, 0, 1);
    text-shadow: 0 0 1em rgba(255, 0, 0, 0.8), 0 0 2em rgba(255, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 0.7em rgba(255, 100, 0, 1), 0 0 0.7em rgba(255, 100, 0, 1);
}

select[name="authorNameSelector"] option {
    margin-top: 1vh;
    padding: 0.9vh;
    height: 100%;
    max-width: 100%;
    transition: 0.4s;
    border-radius: 10px;
    word-wrap: break-word;
    white-space: normal;
}

.author-name-outer {
    align-self: center;
}

.author-avatar-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

select[name="authorNameSelector"] {
    width: 30vw;
    max-height: 100%;
    padding: 14px 1em;
    padding-left: 1em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    border-style: none;
    outline: none;
    border-radius: 10px;
    color: #c0b7b7;
    text-shadow: 0 0 1em rgb(104, 99, 99);
    background-color: rgba(0, 0, 0, 0);
}

.author-name-inner {
    display: block;
    padding: 14px 1em;
    padding-left: 1em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    border-style: none;
    outline: none;
    border-radius: 10px;
    color: #c0b7b7;
    background-color: rgba(15, 15, 15, 0.541);
    box-shadow: inset 0 0 1em rgb(7, 7, 7), 0 0 1em rgb(7, 7, 7);
    text-shadow: 0 0 1em rgb(104, 99, 99);
    transition: 0.6s;
}

.change-author-info-container,
#update-author-form {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.change-author-header {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#update-author-form {
    margin-bottom: 5vh;
}

#update-author-form input[name="authorName"],
#update-author-form input[name="authorAvatarLink"],
#update-author-form input[name="authorHeaderImageLink"] {
    width: 20vw;
}

#need-more-links {
    align-self: flex-start;
}

#need-more-links,
#update-author-form input,
#delete-author {
    padding: 14px 1em;
    padding-left: 1em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    border-style: none;
    outline: none;
    border-radius: 10px;
    color: #c0b7b7;
    background-color: rgba(15, 15, 15, 0.541);
    box-shadow: inset 0 0 1em rgb(7, 7, 7), 0 0 1em rgb(7, 7, 7);
    text-shadow: 0 0 1em rgb(104, 99, 99);
    transition: 0.6s;
}

#update-author-form input#links-secret-area,
#update-author-form input#author-secret {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

#delete-author-form {
    align-self: flex-start;
}

#delete-author:hover,
#need-more-links:hover,
#update-author-form input:hover {
    color: rgba(255, 100, 0, 1);
    text-shadow: 0 0 1em rgba(255, 0, 0, 0.8), 0 0 2em rgba(255, 0, 0, 0.8);
    box-shadow: inset 0 0 1em rgba(255, 100, 0, 1), 0 0 1em rgba(255, 100, 0, 1);
    background-color: rgba(0, 0, 0, 0.7);
}

#update-author-form input.author-link:focus,
#update-author-form input[name="authorName"]:focus,
#update-author-form input[name="authorAvatarLink"]:focus,
#update-author-form input[name="authorHeaderImageLink"]:focus {
    color: rgba(255, 100, 0, 1);
    text-shadow: 0 0 1em rgba(255, 0, 0, 0.8), 0 0 2em rgba(255, 0, 0, 0.8);
    box-shadow: inset 0 0 1em rgba(255, 0, 0, 0.8), 0 0 1em rgba(255, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
}

.author-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.author-link {
    width: 15vw;
    margin-top: 2vh;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

/* change author info page*/
/* change author info page*/
/* change author info page*/
