<div class="banner-item">
    <i class="banner-gear unselectable fa fa-cog"></i>
</div>

<div class="banner-item" id="menu-switcher-composition">
    <div><%= showMenuOption %></div>
    <label id="menu-switcher">
        <input type="checkbox" id="need-menu-checkbox" />
        <div class="slider round"></div>
    </label>
</div>

<div class="banner-item" id="panel-switcher-composition">
    <div><%= showPanelOption %></div>
    <label id="panel-switcher">
        <input type="checkbox" id="need-panel-checkbox" />
        <div class="slider round"></div>
    </label>
</div>

<div class="banner-item">
    <div>Поиск</div>
</div>
